# Dependencias y compilados
node_modules/
dist/

# Reportes
coverage/
test-results/
playwright-report/
artifacts/

# Logs y entornos
*.log
.env
.DS_Store

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
